# Prerequisite download related
nssm-*.zip
syncthing-windows-amd64-*.zip
wix*-binaries.zip

# Prerequisite extract related
nssm-*/
syncthing-windows-amd64-v*/
Syncthing/nssm_x86.exe
Syncthing/syncthing.exe
Syncthing/AUTHORS.txt
Syncthing/LICENSE.txt
Syncthing/README.txt
wix/

# WIX build process related
*.msi
*.wixobj
*.wixpdb
*.wxs
