# Prerequisite download related
nssm-*.zip
syncthing-windows-amd64-*.zip
wix*-binaries.zip

# Prerequisite extract related
nssm-*/
syncthing-windows-amd64-v*/
SourceDir/nssm_x86.exe
SourceDir/syncthing.exe
SourceDir/AUTHORS.txt
SourceDir/LICENSE.txt
SourceDir/README.txt
wix/

# WIX build process related
*.msi
*.wixobj
*.wixpdb
*.wxs
*.xlst

# ignore all files
SourceDir/*

# include tracked files
# !SourceDir/nssm_x86.exe
!SourceDir/*.cmd
!SourceDir/syncthing.ico
